* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#promocao {
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    background-color: #dae5e8;
}

input {
    outline:none;
    box-shadow: 3px 3px;
}

input:value {
    color: green;
}

#promocao > p {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#promocao > input {
    color: #101010;
    font-size: 1em;
    padding: 16px 30px;
    border: none;
}

#promocao > button {
    color:white;
    font-weight: bold;
    background-color: #101010;
    padding: 15px 30px;
    text-align: center;
    font-size: 1em;
    outline: none;
    border: none;
    box-shadow: 1px 1px #dae5e8, 4px 4px black;
}

#promocao > button:hover {
    font-weight: bold;
    color: #101010;
    background-color: white;
    border: none;
}