@keyframes pular{
    0%, 20%, 60%, 100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    40%{
        -webkit-transform: translateY(-28px);
        transform: translateY(-20px);
    }

    80%{
        -webkit-transform: translateY(-18px);
        transform: translateY(-10px);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family:  'Baloo 2', cursive;
}
.conteiner{
    width: 100vw;
    height: 100vh;
}

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Baloo 2', cursive;
    background-color: #dae5e8;
}
header> img {
    height: 20vh;
}
header a{
    position: relative;
    right: 7%;
    bottom: 2%;
    font-size: 1.2em;
    text-decoration: none;
    color: #2e3237;
    cursor: pointer;
    transition: all 400ms ease;
}

header a:hover{
    animation: pular 1s;
}
main {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}
section {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;   
}
#quem-somos{
    height: 100vh;  
    border: none;
    display: flex;
    justify-content: space-around;
    background-color: #dae5e8;
}
#quem-somos>img {
    width: 50%;
    border-radius: 15%;    
}
#quem-somos>div h1 {
    font-size: 50px;
    padding: 10px;
}   
#quem-somos>div p {
    font-size: 20px;
    padding: 10px;
    color: #48453c;
    width: 40vw;
}
form{
    border: solid 1px rgb(189, 184, 184);
    border-radius: 15px;
    font-size: 20px;
    background-color: #dae5e8;
    width: 41vw;
    margin: 0 auto;
    padding: 20px; 
}
form>p {
    padding: 5px;
}
.enviar {
    display: block;
    cursor: pointer;
    margin: 0 auto;  
}
input {
    width: 40vw;
    padding: 7px;
}
textarea {
    width: 40vw;
    height: 30vh;
}

.fundo {
    height: 50vh;
    max-width: 100vw;
}
#claro {
    background: url(imagens/produto.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#escuro {
    background: url(imagens/produto2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#produtos {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    box-shadow: 20px 0px 150px;
}
#produtos>h1 {
    font-size: 60px;
}
.mosaico-produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    height: 90vh;
}
.imagemproduto>img {
    border-bottom: solid 5px #a3b0b4;
    display: flex;
    align-self: center;
    justify-self: center;
    width: 20vw;
    height: 40vh;
}
#contato {
    flex-direction: column;
    max-width: 100vw; 
    height: 100vh;
}
#contato>h1 {
    display: flex;
    align-self: flex-start;
    font-size: 60px;
    padding: 20px 60px;
}
#nosso-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
#nosso-time>h1 {
    font-size: 3em;
    padding: 2%;

}
#nosso-time>div img {
    height: 20vh;
    border: 2px solid black;
    border-radius: 60%;
}
.apresentacao {
    display: flex;
    flex-direction: column;
}
.felipe {
    border-radius: 10px;
    background-color: #dae5e8;
    width: 80vw;
    display: flex; 
    align-items: center;
    justify-content:center;

}
.murilo {
    padding: 20px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content:center;
}
.ricardo {
    border-radius: 10px;
    background-color: #dae5e8;
    padding: 20px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content:center;
}
#promocao {
    
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    background-color: #dae5e8;
}
input {
    outline:none;
    box-shadow: 3px 3px;
}
input:value {
    color: green;
}
#promocao > p {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
#promocao > input {
    color: #101010;
    font-size: 1em;
    padding: 16px 30px;
    border: none;
}

#promocao > button {
    color:white;
    font-weight: bold;
    background-color: #101010;
    padding: 15px 30px;
    text-align: center;
    font-size: 1em;
    outline: none;
    border: none;
    box-shadow: 1px 1px #dae5e8, 4px 4px black;
}

#promocao > button:hover {
    font-weight: bold;
    color: #101010;
    background-color: white;
    border: none;
} 
footer {
    background-color: #101010;
    padding-top: 10vh;
    padding-bottom: 5vh;
    text-align: center;
}
section#social-media {
    display: flex;
    justify-content: space-around;
}

#social-media > a {
    padding: 3px;
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px white;
}


#cartoes {
    color: white;
    text-align: left;
    margin-left: 5vw;
    align-content: flex-end;
    padding-bottom: 5vh;
    padding-top: 10vh;
}

#cartoes > i {
    size: large;
}

footer > p {
    padding-top: 5vh;
    margin-right: 2vw;
    margin-left: 2vw;
    color:  white;
    font-size: 0.7em;
    text-align: right;
    border-top: 1px solid white;
}
@media screen and (min-device-width : 320px) and (max-device-width : 420px) { 
    #quem-somos {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #quem-somos>div p {
        display: flex;
        align-self: center;
        justify-self: center;
        width: auto;
    }
    #quem-somos>div h1 {
        display: flex;
        width: auto;
        lign-self: center;
        justify-self: center;
    }
    .mosaico-produtos {
        flex-direction: column;
    }
    .imagemproduto>img {
        width: 70vw;
        height: 20vh;
    }
}





