* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

footer {
    background-color: #101010;
    padding-top: 10vh;
    padding-bottom: 5vh;
    text-align: center;
}
section#social-media {
    display: flex;
    justify-content: space-around;
}

#social-media > a {
    padding: 3px;
    text-decoration: none;
    color: white;
     
    box-shadow: 2px 2px white;
}


#cartoes {
    color: white;
    text-align: left;
    margin-left: 5vw;
    align-content: flex-end;
    padding-bottom: 5vh;
    padding-top: 10vh;
}

#cartoes > i {
    size: large;
}

footer > p {
    padding-top: 5vh;
    margin-right: 2vw;
    margin-left: 2vw;
    color:  white;
    font-size: 0.7em;
    text-align: right;
    border-top: 1px solid white;
}